<h1>QUESTIONS</h1>

<% if @questions.any? %>
  <ul id="question-list">
    <% @questions.each do |q| %>
    <div class="question-container">
      <% q.answers.each do |a| %>
      <%= image_tag a.image(:medium) %>
      <li> <%= a.content %></li>
      <% end %>
    </div>
    <% end %>
  </ul>
<% end %>
