/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


$sand: #faf0e6;
$robinsegg: rgba(31, 206, 203, 1);
$darkegg: #0c9290;
$orange: #d97312;
$pink: #d91279;

a {
  color: $robinsegg;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    color: $darkegg;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid $darkegg;
  }
}

.btn {
  color: black;
  border: 2px solid black;
  border-radius: 0;
  background-color: transparent;
  font-weight: bold;
  transition: 1s;
  &:hover {
    background-color: black;
    color: $robinsegg;
  }

}
input.form-control {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  box-shadow: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

body {
  background-color: $sand;
}

.nav-wrap {
  background-color: $pink;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid black;
  z-index: 600;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
  }
}
#main-nav {
  float: right;
  li {
    padding-right: 25px;
  }
}

#question-list {
  list-style-type: none;
  padding: 0;
}

.answer-container {
  max-width: 300px;
  img {
    width: 100%;
  }
}

.question-row {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.question-container {
  border: 2px solid black;
}

#question_form {
  ::-webkit-input-placeholder {
    color: black;
  }
  padding: 25px;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 500;
  height: auto;
  max-width: 550px;
  background-color: rgba(31, 206, 203, 1);
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  .x-form {
    height: 25px;
    float: right;
  }
}

.alert {
  background-color: rgba(40,40,40,0.5);
  position: absolute;
  top: 100px;
  right: 50px;
  height: auto;
  width: 300px;
  padding: 25px;
  animation-name: slider;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  .x {
    height: 15px;
    float: right;
  }
}
div.alert.alert-notice {
  h4 {
    color: $pink;
  }
}
div.alert.alert-alert {
  h4 {
    color: darken($orange, 15%);
  }
}
@keyframes slideDown {
  0% {
   transform: translateY(-100%)
 }
 100% {
   transform: translateY(0)
 }
}

@keyframes slider {
  0% {
   transform: translateX(+100%)
 }
 100% {
   transform: translateX(0)
 }
}


.main-content {
  margin-top: 75px;
}

.actions {
  .btn {
    margin: 25px 0;
  }
}

.barn {
  margin-right: 25px;
  &:hover {
    border-bottom: 0;
  }
  img {
    height: 35px;
    &:hover {
      opacity: .5;
    }

  }
}
