/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

$sand: #faf0e6;

.alert {
  background-color: rgba(40,40,40,0.5);
  color: $sand;
  position: absolute;
  top: 100px;
  right: 50px;
  height: auto;
  width: 300px;
  padding: 25px;
  animation-name: slider;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  .x {
    height: 15px;
    float: right;
  }
}
div.alert.alert-flash {
  h4 {
    color: $sand
  }
}
div.alert.alert-alert {
  h4 {
    color: maroon;
  }
}

@keyframes slider {
  0% {
   transform: translateX(+100%)
 }
 100% {
   transform: translateX(0)
 }
}
